%p{ id: 'notice' }= notice
%h1 List of articles
- if @articles.count > 0
  - @articles.each do |article|
    %h2= link_to article.title, article
    - autor = User.find(article.user_id)
    = autor.email
    = article.created_at.localtime.strftime('%H:%M %d-%m-%Y')
    = raw article.text
- else
  Articles not written yet...
