%h1= @article.title
= render 'modify_buttons'
%span.create_date= @article.created_at.localtime.strftime('%Y-%m-%d %H:%M')
= raw @article.text
%span.item_author
  = t('views.articles.author') + ': '
  = raw(user_profile_link(@article.author))
