- @item.versions.each do |version|
  - article = @item.version_at(version.created_at)
  - ver_next = version.next
  - if ver_next then
    %tr
      %td= ver_next.id
      %td= link_to(article.title, "/admin/versions/article/#{article.id}/#{ver_next.id}")
      %td= version.created_at  
      %td= User.find(version.whodunnit).email
      %td= link_to('Rollback', "/admin/versions/article/#{article.id}/#{ver_next.id}", class: 'btn btn-warning btn-xs', method: :patch)
%tr.success
  %td
  %td= link_to(@item.title, article_path(@item))
  %td= @item.updated_at  
  %td= User.find(@item.user_id).email
  %td
