%tr
  %th Id
  %th Name
  %th Author
  %th Created
  %th{ colspan: '2' } Actions
- @items.each do |article|
  %tr{ 'data-article-id': article.id }
    %td= article.id
    %td= link_to article.title, article
    %td= user_profile_link(article.user_id)
    %td= article.created_at.localtime.strftime('%H:%M %d-%m-%Y')
    %td
      %a.btn.btn-default.btn-danger.btn-xs.action_article_destroy.ajax_action Destroy
    %td
      - if article.versions.length > 1
        %a.btn.btn-primary.btn-xs{ href: "/admin/versions/article/#{article.id}" }
          Versions
          %span.badge= article.versions.length
