%tr
  %th Id
  %th Name
  %th Author
  %th Created
  %th{ colspan: '2' } Actions
- @items.each do |item|
  %tr{ 'data-item-id': item.id }
    %td= item.id
    %td= link_to item.title, item
    - autor = User.find(item.user_id)
    %td= autor.email
    %td= item.created_at.localtime.strftime('%H:%M %d-%m-%Y')
    %td
      .btn.btn-default.btn-danger.btn-xs{ id: 'action_article_destroy', 'data-article-id': item.id } Destroy
    %td
      /= link_to "Versions (#{item.versions.length})", admin_article_versions_path(item), class: 'btn btn-default btn-xs'

