%div.carousel.slide{ id: 'carousel-example-generic', 'data-ride': 'carousel' }
  <!-- Indicators -->
  %ol.carousel-indicators
    %li.active{ 'data-target': '#carousel-example-generic', 'data-slide-to': '0' }
    %li{ 'data-target': '#carousel-example-generic', 'data-slide-to': '1' }
    %li{ 'data-target': '#carousel-example-generic', 'data-slide-to': '2' }
    %li{ 'data-target': '#carousel-example-generic', 'data-slide-to': '3' }
    %li{ 'data-target': '#carousel-example-generic', 'data-slide-to': '4' }
  <!-- Wrapper for slides -->
  %div.carousel-inner{ 'role': 'listbox' }
    .item.active
      = image_tag('/carousel/1.jpg')
      .carousel-caption
    .item
      = image_tag('/carousel/2.jpg')
      .carousel-caption
    .item
      = image_tag('/carousel/3.jpg')
      .carousel-caption
    .item
      = image_tag('/carousel/4.jpg')
      .carousel-caption
    .item
      = image_tag('/carousel/5.jpg')
      .carousel-caption
        Gordon Freeman
  <!-- Controls -->
  %a.left.carousel-control{ href: '#carousel-example-generic', role: 'button', 'data-slide': 'prev' }
    %span.glyphicon.glyphicon-chevron-left{ 'aria-hidden': 'true' }
    %span.sr-only Previous
  %a.right.carousel-control{ href: '#carousel-example-generic', role: 'button', 'data-slide': 'next' }
    %span.glyphicon.glyphicon-chevron-right{ 'aria-hidden': 'true' }
    %span.sr-only Next
