.row
  .col-md-4
  .col-md-4
    %h1= t('devise.actions.sign_in')
    = simple_form_for :user, url: session_path(@user), html: {class: 'form-horizontal'} do |f|
      = f.error_notification
      = f.input :login, autofocus: true, required: true
      = f.input :password, required: true
      = f.input :remember_me, class: 'checkbox', as: :boolean if devise_mapping.rememberable?
      = f.button :submit
  .col-md-4
