%h2= "#{t('devise.registrations.edit_title')}"

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .row
    .col-md-8
      = f.input :email, required: true, autofocus: true
      = f.input :username, required: true, autofocus: true
      = f.input :avatar, as: :file
    .col-md-4.col-centered
      .img-thumbnail.img-avatar= image_tag @user.avatar.url(:medium), id: 'user_avatar'
  = f.input :first_name
  = f.input :last_name

  /= f.input :avatar, as: :image_preview 
  /, input_html: {preview_version: :thumb}
  /= f.input :avatar, as: :attachment_preview

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %p
      Currently waiting confirmation for: 
      = resource.unconfirmed_email
  .row
    .col-md-6
      = f.input :password, autocomplete: 'off', required: false
    .col-md-6
      = f.input :password_confirmation, required: false
  .row
    .col-md-6
      = f.input :current_password, required: true
  = f.button :submit, 'Update'
  = link_to 'Cancel my account', registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'
