%h2 Users roles
%table.table.table-hover.table-bordered
  %tr
    %th Username
    %th User
    - @roles.each do |role|
      %th= role.name
  - @users.each do |user|
    %tr
      %td= user.username
      %td= raw user_profile_link_img(user)
      - @roles.each do |role|
        - bool = user.has_role?(role.name)
        - checked = 'no'
        - if bool
          - checked = 'yes'
        %td
          = check_box_tag "user[role_#{role.name}_#{user.id}]", checked, bool, class: 'action_role_manage', 'data-role': role.name, 'data-user': user.id

