%h1= t('views.galleries.index.title')
- if @galleries.count > 0
  - @galleries.each do |g|
    %div{ id: "data-gallery-id-#{g.id}" }
      %h3
        =link_to g.name, gallery_path(g)
        %small= g.description
      %div
        - g.image.first(9).each do |img|
          = image_tag img.file.url(:thumbnail), class: 'photo'
      %p.actions
        = link_to gallery_path(g), class: 'btn btn-primary btn-sm' do
          %span.glyphicon.glyphicon-eye-open
          = t('views.actions.show')
        = ' '
        - if can? :modify, g
          = link_to edit_gallery_path(g), class: 'btn btn-warning btn-sm' do
            %span.glyphicon.glyphicon-edit
            = t('views.actions.edit')
          = ' '
          = link_to gallery_path(g), class: 'btn btn-danger btn-sm', method: :delete, remote: true do
            %span.glyphicon.glyphicon-remove
            = t('views.actions.destroy')
- else
  %p= t('views.galleries.gallery_list_is_empty')
