.row
  %nav{ class: 'navbar navbar-default', role: 'navigation' }
    .col-md-1
    .col-md-10
      = render_navigation(context: :main, expand_all: true, renderer: :bootstrap)
      %form.navbar-form.navbar-left{ role: 'search' }
        .form-group
          %input.form-control{ id: 'search_field', type: 'text', placeholder: 'Search' }
      - if !user_signed_in?
        = render 'layouts/reg_log_form'
      - else
        %form.navbar-right 
          %ul.nav-custom
            %li.dropdown{ role: 'presentation' }
              %a.dropdown-toggle{ 'data-toggle': 'dropdown', 
                                  'aria-haspopup': 'true', 
                                  'aria-expanded': 'false',
                                   role: 'button', 
                                   href: "#" }
                .img-avatar
                  = image_tag current_user.avatar.url(:thumb)
                %span.caret
              %ul.dropdown-menu
                .dropdown-header
                  Signed in as 
                  %br
                  %strong= user_name(current_user.id)
                %li.divider{ role: "separator" }
                %li
                  %a{ href: "/profile/#{current_user.id}" }
                    %span.glyphicon.glyphicon-user
                    You profile
                %li
                  %a{ href: "#{edit_user_registration_path}" }
                    %span.glyphicon.glyphicon-edit
                    Edit profile
                %li.divider{ role: "separator" }
                %li
                  = link_to(destroy_user_session_path, method: :delete) do
                    %span.glyphicon.glyphicon-log-out
                    Log out
    .col-md-1
