<!DOCTYPE html>
%html
  %head
    %title Project
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body
    = render 'layouts/navigation_main'
    /= render 'layouts/navigation_builder'
    = render 'layouts/messager'
    %div{ id: 'wrapper' }
      .row
        .col-md-12{ id: 'main-data', 'pjax-container': 'true' }
          = yield
    = render 'layouts/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track': true
