<!DOCTYPE html>
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = csrf_meta_tags
  %body{ id: 'body' }
    = render 'layouts/navigation'
    /= render 'layouts/navigation_builder'
    %div{ id: 'wrapper' }
      .row
        .col-md-12
          = render 'layouts/messager'
          = render 'layouts/page_body'
          = render 'layouts/footer'
    = javascript_include_tag 'application'
